.meal-page {
    min-height: 100vh;
    background-color: #0f1114;
    color: #fff;
    padding: 2.5rem 2rem;
    font-family: 'Poppins',sans-serif;
}
.page-title{
      color: #f4b860;
    text-align: center;
    text-decoration: overline;
    margin-bottom: 5rem;
    margin-top: -2rem;
    font-size: 2rem;
    font-weight: 700;
}
.meal-section{
       display: flex
;
    flex-direction: column;
    margin-bottom: 2rem;
    gap: 3rem;
}
.meal-section .meal-title{
font-size: 1.5rem;
font-weight: 600;
color: #f4b860;
margin-bottom: 1rem;
}
.meal-grid{
    display: flex;
    overflow-x: auto;
    padding-bottom: 1rem;
    align-items: center;
    justify-content: center;
    scroll-behavior: smooth;
    gap: 1.5rem;
}

.meal-grid::-webkit-scrollbar{
    height: 8px;
}
.meal-grid::-webkit-scrollbar-thumb {
 
    border-radius: 10px;
}
.meal-grid::-webkit-scrollbar-trsck{
    background: transparent;
}

.recipe-card{
    background-color: #1a1c1f;
    border-radius: 1rem;
    padding: 2rem;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}
.recipe-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(244, 184, 96, 0.3);
}

.recipe-card .image{
    width: 100%;
    height: 150px;
    border-radius: 0.75rem;
    object-fit: cover;
    margin-bottom: 0.75rem;
}
.recipe-card .recipe-title {
    font-size: 1rem;
    color: #f4b860;
    font-weight: 600;
    margin-bottom: 0.25rem;
    text-align: center;
}
.recipe-card .recipe-time{
    font-size: 0.875rem;
    color: #ccc;
    text-align: center;
}
.recipe-details {
    margin-top: 0.5rem;
    border-top: 1px solid rgba(255,255,255,0.1);
    padding-top: 0.5rem;
}
.recipe-details p {
    font-size: 0.8rem;
    color: #aaa;
    margin-bottom: 0.25rem;
    line-height: 1.3;
}
.bookmark-btn{
    background-color: #f4b860;
    border: none;
    border-radius: 11px;
    padding: 8px 0;
    display: flex
;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s 
ease;
}
.bookmark-btn:hover{
    box-shadow: 0 4px 20px rgba(250, 170, 59, 0.829);
      
}
.back-btn {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: transform 0.5s ease;
}
.back-btn:hover {
    transform: scale(1.5);
}
@media(min-width) {
    .meal-page{
        padding: 4rem 6rem;
    }
    .meal-page h1 {
        font-size: 2.5rem;
    }
    .meal-grid {
        grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    }
}
