.btn,.btn-secondary {
    cursor: pointer;
    transition: background-color 0.5s ease;
}
.btn:hover {
    background-color: #1114;
    color: #f4b860;
}
.result-card {
  cursor: pointer;
  transition: transform 0.2s ease;
}
.result-card:hover {
  transform: scale(1.03);
}