.home-title{
    color: #f4b860;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    margin: 2rem;
}
.home-subtitle{
    display: flex;
    justify-content: center;
    font-size: 4rem;
    
}
.profile-icon{
    background-color: #1a1c1f;
    color: #f4b860;
    border-radius: 50%;
    padding: 10px;
    border: 1px solid #f4b86040;
    transition: all 0.3s ease;
    cursor: pointer;
    margin: 1rem;
}
.profile-icon:hover {
    box-shadow: 0 0 10px #f4b86080;
    transform: scale(1.1);
}
.search-bar {
    background-color: transparent;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    padding: 10px 16px;
}
.input {
    color: #fff;
    background: none;
    border-radius: 20px;
    outline: none;
    border: 1px solid #fff;
    flex: 1;
    font-size: 14px;
    padding: 1rem;
    margin: 1rem 2rem;
}
.popular-title{
    display: flex;
    margin-left: 1rem;
    font-size: 2rem;
    font-weight: 500;

}
.filter-menu{
    background-color: #1a1c1f;
    border-radius: 12px;
    padding: 1rem;
    margin-top: 0.5rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    cursor: pointer;
    animation: fadeIn 0.3s ease-in-out;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.select-filter {
    background-color: transparent;
    color: white;
    border-radius: 8px;
    margin-left: 1rem;
    border: 1px solid #f4b860;
    padding: 0.6rem 1rem;
    outline: none;
    width: 100%;
    transition: all 0.3s ease;
    appearance: none;
    position: relative;
    cursor: pointer;
    scroll-behavior: smooth;
}
.select-filter:hover,
.select-filter:focus {
    background-color: #1a1c1f;
    border-color: #ffd280;
    box-shadow: 0 0 10px rgba(244,184,96, 0.3);
}
.select-filter option {
    background-color: #0f1114;

color: #f4b860;
border: none;
padding: 0.8rem;
}
.select-filter::-ms-expand {
    display: none;
}
.slider-horizontal{
    cursor: pointer;
    color: #f4b860;
}
.close-filter-btn {
    background: none;
    border: none;
    cursor: pointer;
    color: #f4b860;
    font-weight: 500;
    transition: opacity 0.2s ease;
}
.close-filter-btn:hover {
    opacity: 0.7;
}
.cuisine-filters {
        display: flex
;
    gap: 8px;
    margin-left: 1rem;
    scrollbar-width: none;
    margin-bottom: 2rem;
}
.btn-cuisine {
    padding: 5px 10px  ;
    background-color: transparent;
    color: #b2b0b0;
    border: 1px solid #e0dddd;
    border-radius: 14px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}
.btn-cuisine:hover {
    background-color: #f4b860;
    color: black;
}
.btn-cuisine.active {
   background-color: #f4b860;
    color: black;  
}
.popular-section {
    margin-top: 2rem;
}
.popular-list {
    display: flex;
    gap: 16px;
    overflow-x: auto;
    padding-bottom: 6px;
    scrollbar-width: none;
}
.popular-list::-webkit-scrollbar {
    display: none;
}
.recipe-card {
    background-color: #f4b860;
    color: #0f1114;
    border-radius: 22px;
    min-width: 180px;
    padding: 12px;
    flex-shrink: 0;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.25);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
   
    transition: transform 0.2s ease;
}
.recipe-card:hover {
    transform: scale(1.03);
}
.recipe-card img {
    width: 100%;
    height: 110px;
    object-fit: cover;
    border-radius: 14px;
    margin-bottom: 10px;
}
.recipe-title {
    font-size: 2rem;
    color: #022855;
    width: 14rem;
    font-weight: 600;
}
.time {
opacity: .8;
    color: #676666;
    font-size: .75rem;
        bottom: 3rem;
    position: relative;
    gap: 1px;


}
.time .icon {
  font-size: 0.9rem;
color: #676666;
}
.categories-list {
    display: flex;
    gap: 16px;
    overflow-x: auto;
    padding-bottom: 10px;
}
.category-card {
    position: relative;
    flex-shrink: 0;
    cursor: pointer;
   transition: transform 0.2s ease;
}
.category-card:hover {
    transform: scale(1.03);
}
.category-card img {
    border-radius: 16px;
    object-fit: cover;
    width: 120px;
    height: 120px;
}
.category-overlay {
    position: absolute;
    bottom: 8px;
    left: 8px;
    right: 8px;
    background-color: rgba(0,0,0,0.35);
    border-radius: 12px;
    text-align: center;
    padding: 2px 0;
}
.category-name {
    font-size: 0.85rem;
    color: #fff;
    font-weight: 600;
}
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style :none;
    scrollbar-width: none;
}
.home-btn,.shopping-btn,.calendar-btn,.book-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;font-size: 0.75rem;
    gap: 4px;
    color: #f4b860;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease, color 0.3s ease;
}
.home-btn:hover,.shopping-btn:hover,.calendar-btn:hover,.book-btn:hover {
color: #ffd580;
transform: translateY(-3px);
}
.home-btn.active,.shopping-btn.active,.calendar-btn.active,.book-btn.active {
color: #0f1114;
background: #f4b860;
border-radius: 15px;
padding: 6px 10px;
box-shadow: 0 0 20px rgba(244,184,96,0.5);
}
.navbar {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: #1a1c1f;
    color: #f4b860;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 320px;
    padding: 0.8rem 1rem;
    border-radius: 30px;
    box-shadow: 0 4px 15px rgb(244, 184, 96, 0.25);
    z-index: 50;
    backdrop-filter: blur(8px);
    transition: all 0.3s ease;

}