.profile-container {
    min-height: 100vh;
    background-color: #0f1114;
    color: #fff;
    padding: 2rem;
    font-family: "Poppins", sans-serif;
}

.back-btn {
    background: none;
    border: none;
    color: #f4b860;
    cursor: pointer;
    transition: color 0.3s ease;
}
.back-btn:hover {
    color: #ffd580;
}

.profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}
.profile-avatar {
    border-radius: 50% ;
    border: 3px solid #f4b860;
    box-shadow: 0 0 15px rgba(244, 184, 96, 0.3) ;
    margin-bottom: 1rem;
}

.user-name{
    font-size: 1.5rem;
    font-weight: 600;
    color: #f4b860;
}
.user-email {
    color: #aaa;
    font-size: 0.9rem;
}
.profile-actions {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.profile-btn {
    background-color: #1a1c1f;
    border: none;
    color:  #f4b860;
    padding: 0.8rem 1.5rem;
    border-radius: 1rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    transition: all 0.3s ease;
}
.profile-btn:hover{
background-color: #2a2d31;
transform: scale(1.05);
}
.logout {
    background-color: #8b0000;
    color: white;
}
.logout:hover {
    background-color: #a00000;
}
