.login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-title {
    font-size: 3rem;
    color: #f4b860;
   margin-bottom: 5px;
    font-weight: 100;
}
.back-btn {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: transform 0.5s ease;
}
.back-btn:hover {
    transform: scale(1.5);
}
.login-subtitle {
    color: rgb(255 248 248 / 60%);
    max-width: 30rem;
    font-weight: 100;
    margin-top: 0;
    line-height: 22px;
    letter-spacing: 1px;
}
.login-form{
       flex-direction: column;
    max-width: 20rem;
    /* margin: 1rem; */
    display: flex;
}
.input-email,.input-password {
padding: 1rem 2rem;
background: transparent;
color: #fff;
max-width: 20rem;
margin-top: 1rem;
border: 1px solid #fff;
border-radius: 8px;
}
.btn1 {
 color: #515151;
    background-color: #f4b860;
    border: none;
    font-weight: 100;
    max-width: 20rem;
    border-radius: 18px;
    margin-top: 3rem;
    padding: 1rem;
    font-size: 1.3rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn1:hover {
    background-color: #fff;
}
.or{
   color: #515151;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 0.5rem;
   margin: 1.5rem 0;
}
.or::before,.or::after{
  content: "";
    background-color: #8f8f8f;
    width: 15%;
    height: 1px;
    display: inline-block;
}

.continue {
    display: flex;
    flex-direction: column;
}
.google,.facebook,.phone {
    margin-top: 1rem;
    max-width: 20rem;
    border: none;
    cursor: pointer;
    color: #515151;
    border-radius: 15px;
    padding: 12px 2rem;
    transition: background-color 0.5s ease;
}
.google:hover,.facebook:hover,.phone:hover {
background-color: #f4b860;
}