.recipe-detail-page {
    animation: fadeIn 0.4s ease-in;
}
@keyframes fadeIn {
    from {opacity: 0; transform: translateY(10px);
    to {opacity: 1; transform: translateY(0);}}
}
.detail-content{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.recipe-btn {
    background-color: transparent;
    border: none;
    color: #f4b860;
    display: flex
;
    cursor: pointer;
    transition: transform 0.3s 
ease;
}
.recipe-btn:hover {
    transform: scale(1.5);
}
.recipe-header {
    background-color: #f4b860;
    color: #0f1114;
    border-radius: 22px;
       max-width: 27rem;
    padding: 12px;
    margin: 12px 2rem;
    box-shadow: 0 4px 10px rgba(0,0,0,0.25);
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    align-content: center;
}
.recipe-header image {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 14px;
    margin-bottom: 10px;
}
.ingred-inst{
    display: flex;
    flex-direction: row;
    gap: 15rem;
}
.ul,.ol{
    line-height: 2rem;
}
@media(max-width:425px) {
    .ingred-inst{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
}